hgroup{
	h2{
		margin-bottom: 0;
	}
}


nav{
	ul{
		padding-left: 0;
		li{
			padding-left: 0;
			padding-right: 10px;
		}
	}
}

/* Comment Form */
#respond {
	margin: 0 auto 2em auto;
	padding: .1em;
	position: relative;
	width: 100%;
}

.entry-header{ 
	padding-bottom: 0;
}

#respond input[type="text"],
#respond textarea {
	width: 85%;
}

footer #first,footer #second, footer #third{
	display: block;
}	